@page "/search"
@using SEP3_TIER1.Data
@using System.Net.Http
@inject HttpClient Http

<div class="page-wrapper">
    <div class="wrapper wrapper--w1226">
        <div class="card card-5 mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <label type="text" class="label ">Search for a destination</label>
                    </div>
                    <div class="col-6">

                        <input class="input--style-1 input-group" type="text" @bind-value="searchTerm" @bind-value:event="oninput" @onkeypress="SearchFlight" placeholder="City, Region or Airport" />

                    </div>
                    <div class="col-2">
                        <button class="btn  btn-personalized" @onclick="SearchFlight" >Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper--w1226">
        <table class="table table-striped textedit">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Flight</th>
                    <th scope="col">Airplane</th>
                    <th scope="col">Airline</th>
                    <th scope="col">Origin</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Delay</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Arrival time</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int id = 1;
                    foreach (var data in AirportDatas)
                    {
                        <tr>
                            <td>@id</td>
                            <td>@data.CallSign</td>
                            <td>@data.Model</td>
                            <td>@data.Company</td>
                            <td>@data.StartLocation</td>
                            <td>@data.EndLocation</td>
                            <td>@data.Delay</td>
                            <td>@data.DepartureTime</td>
                            <td>@data.ArrivalTime</td>
                        </tr>
                        id++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    private List<PlaneDTO> datas = new List<PlaneDTO>();
    private IList<PlaneDTO> AirportDatas = new List<PlaneDTO>();

    private string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        datas = await Http.GetJsonAsync<List<PlaneDTO>>("https://localhost:44397/FlightPlans");
    }

    private void SearchFlight()
    {
            AirportDatas.Clear();
         try
        {
            foreach (var data in datas)
            {
                if ((data.StartLocation.ToLower().Equals(searchTerm.ToLower()))
                    || (data.EndLocation.ToLower().Equals(searchTerm.ToLower())))
                {
                    AirportDatas.Add(data);
                }
            }
        }
        catch (Exception e)
        {
                
        }
    }
}



